.form-component-container {
  display: flex;
  flex-wrap: nowrap;
}

.support-form-column {
  flex-grow: 7;
  margin: 0 10px;
}

.hot-button-panel-column {
  flex-grow: 3;
  margin-right: 10px;
  min-width: 30%;
  width: min-content
}

.form-header-toolbar {
  flex: 0 0 fit-content;
  min-width: 50%;
}

mat-toolbar-row {
  height: auto;
}

.form-header-toolbar > mat-toolbar-row > mat-form-field {
  width: 100%;
}

.transparent-mat-form-field {
  --mat-sys-surface-variant: initial;
}

.progress-bar-container {
  min-height: 4px;
}


