html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.panel-margin {
  margin-top: 10px;
}

mat-card.surface-color, surface-color{
  background-color: var(--mat-sys-surface);
}

.mat-toolbar.header-toolbar {
  align-items: baseline;
}

.display-flex {
  display: flex;
}

.flex-spacer {
  flex: 1 1 auto;
}

.field-label-text-size {
  font-size: var(--mat-sys-title-medium-size);
}

.margin-05 {
  margin: 0.5rem;
}

.form-field-progress-spinner {
  max-height: var(--mat-sys-display-small-size);
  max-width: var(--mat-sys-display-small-size);
  margin:0 0.5rem
}

button.attached-button {
  height: calc(var(--mat-sys-body-large-line-height) + 16px * 2);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding: 0;
}

.form-field-attach-button .mdc-text-field--outlined .mdc-notched-outline .mdc-notched-outline__trailing {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.number-field div.mat-mdc-form-field-infix, .number-label {
  width: calc(var(--mat-sys-body-large-size) * 3);
  font-size: calc(var(--mat-sys-body-large-size) * 1.5);
  max-height: var(--mat-sys-body-large-line-height);
}

input[type="number"] {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  display: none;
}
